:root {
  --pink: hsl(322, 100%, 66%);
  --footer-bg: hsl(192, 100%, 9%);
  --bg-white--text-white: hsl(193, 100%, 96%);
  --p-color: hsl(208, 11%, 55%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-align: center;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.head{
    padding: 50px 50px;
    padding-bottom: 70px;
    margin-bottom: 100px;
    background-color: var(--bg-white--text-white);
background-image: url(images/bg-hero-desktop.svg);
}

p {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--p-color);
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 1rem;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.btn{
    border-radius: 27px;
    padding: 15px 90px;
    font-weight: 700;
    color: black;
    background: white;
}

.pink{
    color: white;
    background-color: var(--pink);
    font-size: 15px;
    margin-top: 2rem;
    position: relative;
    top: 3rem;
}

/*section one*/
.sec-1{
  padding: 30px 30px;
}
.even-column{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text{
  padding: 2rem;
}
img{
  width: 100%;
}
/*section two*/
.sec-2{
  padding: 5rem;
  display: flex;
  flex-direction: column;
}

.blocks{
  padding: 2rem;
  display: flex;
  border-radius: 10px;
  box-shadow: -1px 1px 2px 2px rgba(224, 217, 217, 0.75);
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-between;
}


/*floating section*/
.float{
    position: relative;
    top: 60px;
 }

.floating-section{
    max-width: 60vw;
    height: 200px;
    margin-inline: auto;
    width: 600px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: -1px 1px 2px 2px rgba(224, 217, 217, 0.75);
}

.floating-section h2{
    margin-block: 1.5rem;
}

/*Footer*/

footer {
    z-index: -1;
  background-color: var(--footer-bg);
  color: var(--bg-white--text-white);
  padding: 150px 100px 10px;
}
.footer-container{
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
}

.Copyright{
  text-align: right;
  font-size: 12px;
}
.nav{
  line-height: 2rem;
  padding: 10px;
}
.location img{
  width: 1.4rem;
  height: 1.4rem;
}
.location{
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.location > div{
  display: flex;
  gap: 3rem;
  text-align: left;
}

i{
  width: 2rem;
  height: 2rem;
  padding: 0.3rem;
  border: 1px solid #fff;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.alone{
  top: 1rem;
}

footer a{
  color: var(--p-color);
}

a:hover{
  opacity: 0.7;
}

i:hover{
  cursor: pointer;
  color: var(--pink);
  border: 1px solid var(--pink);
}

/*media queries*/

@media (max-width: 873px){
.floating-section{
  width: 95%;
  max-width: 800px;
}
footer .footer-container{
  flex-wrap: wrap;
}
i{
  margin-top: 2rem;
  margin-inline: auto;
}
}
@media (max-width: 810px){
  .btn{
    padding: 10px 30px;
    font-size: .7rem;
  }
  .sec-2{
    padding-inline: 40px;
  } 
  div{
    flex-wrap: wrap;
  }
}

@media (max-width: 400px){
  header{
    padding: 0;
    margin-bottom: 50px;
  }
  .blocks img, .sec-1 img{
    margin-top: 20px;
  }
  .btn{
    top: 10px;
  }
}